html, body {
    margin: 0;
    background-color: #f0f0f0;
}
* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
a {
    TEXT-DECORATION: none;
}
div {
    /* background-color: #FFFFFF; */
}
.header {
    position: relative;
    height: 45px;
    line-height: 45px;
    color: #E4E4E4;
    background-color: rgba(0,0,0,0.8);
}
.header a {
    color: #E4E4E4;
}
.header .right-nav {
    position: absolute;
    padding: 0 5px;
    right: 10px;
}
.header .logo,
.header .back {
    position: absolute;
    left: 10px;
    width: 60px;
    height: 45px;
    background-image: url(/static/images/ianmi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.header .back {
    width: 45px;
    left: 0;
    background-image: url(/static/svg/back.svg);
    background-size: 28px auto;
}
.header .left-word {
    position: absolute;
    left: 45px;
    line-height: 45px;
    font-size: 14px;
}

.index-search {
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 2px;
}
.index-search input {
    padding: 0 5px;
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.index-search button {
    padding: 5px;
    margin: 5px;
    color: #FFF;
    margin-left: 0;
    border: 1px solid #09f;
    background-color: #09f;
    border-radius: 2px;
}

.title-nav {
	margin-top:10px;
    padding: 0 10px;
    line-height: 38px;
    font-size:15px;
    text-align:center;
}
.title-nav .title-i {
    float: left;
    margin-top: 8px;
    margin-right: 4px;
    width: 2px;
    height: 19px;
    background: #f66;
}
.title-nav a {
    color: #333;
}

.mark-title {
	padding: 10px;
}
.mark-title a {
	color: #f55;
	padding: 5px;
	border: 1px solid #f55;
	border-radius: 2px;
}

.novel-list {
    display:box;
    display: -webkit-box;
    padding: 10px 0;
    margin: 0 10px;
    line-height: 20px;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
}
.novel-list a {
    color: #333;

}
.novel-photo {
    width: 60px;
    height: 80px;
    margin-right: 10px;
    background-image: url(/static/images/book-cover.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 1px;
    box-shadow: 0 0px 3px #888;
}
.novel-title {
    font-size: 15px;
}
.novel-info {
    box-flex: 1;
    -webkit-box-flex: 1;
}
.novel-memo {
    display:box;
    display: -webkit-box;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    font-size: 12px;
}
.box {
    display:box;
    display: -webkit-box;
}
.novel-view {
    padding: 10px 0;
    margin: 0 10px;
    line-height: 20px;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
}
.novel-view .novel-view-box {
}
.novel-view .novel-photo {
    width: 90px;
    height: 120px;
}
.novel-view .novel-info {
    box-flex: 1;
    -webkit-box-flex: 1;
    line-height: 25px;
}
.novel-view .novel-action {
    padding: 10px 0;
}
.novel-view .novel-action .button {
    display: block;
    margin-right: 5px;
    line-height: 30px;
    border-radius: 2px;
    box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    background: none;
    border: 1px solid #f33;
    color: #FFF;
    background-color: #f33;
}
.novel-view .novel-action .button:last-child {
    margin-right: 0;
    margin-left: 5px;
    color: #f33;
    background-color: #fff;
}
.novel-view .novel-memo {
    padding-top: 10px;
    line-height: 20px;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    -webkit-line-clamp:3;
}
.novel-view .novel-memo.novel-memo-more {
    display: block;
}
.novel-nav {
    margin: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
}
.novel-nav-list {
}
.novel-nav-list a {
    position: relative;
    display: block;
    margin: 0 20px;
    line-height: 36px;
    border-bottom: 1px solid #f0f0f0;
    color: #333;
}
.novel-nav-list a:after {
    position: absolute;
    right: 0;
    top: 8px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url(/static/svg/more.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.chapter-main {
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    background-color: #FFFBF0;
}
.chapter-main div{
    background-color: #FFFBF0;
}
.chapter-title,
.chapter-title2 {
    line-height: 45px;
    text-align: center;
    font-size: 20px;
}
.chapter-title2 {
    font-size: 18px;
}
.chapter-page {
}
.chapter-page a {
    display: block;
    margin-right: 5px;
    line-height: 30px;
    border-radius: 2px;
    box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
    border: 1px solid #f33;
    color: #f33;
}
i[class^=svg-] {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}
.svg-category {
    background-image: url(/static/svg/Category.svg);
}
i.svg-more {
    background-image: url(/static/svg/more.svg);
}

.login-main {
    position: relative;

    margin: 40px;
    background: none;
}
.login-main .logo {
    display: block;
    height: 80px;
    background-image: url(/static/images/ianmiColor.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120px auto;
}
.login-main div {
    background: none;
}
.login-main input {
    margin-bottom: 10px;
    padding: 0 15px;
    width: 100%;
    height: 40px;
    border: 0px solid #ddd;
    border-radius: 2px;
}
.login-main button {
    margin-bottom: 10px;
    padding: 0 5px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #f33;
    color: #FFF;
    background-color: #f33;
}
.login-reg-nav a{
    line-height: 25px;
    font-weight: 700;
    color: #333;
}
.login-reg-nav a:last-child{
    position: absolute;
    right: 0;
    color: #09f;
}
.footer {
    text-align: center;
    line-height: 65px;
}
.box-padding {
    padding: .5rem;
}

.change-info
{   
    padding: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 208px;
    bottom: 0;
    flex-direction: column;
}
.change-info a {
    margin: 3px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 3px;
}
.li-box {
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 25px
}
.select-photo-page {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.select-photo
{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0; 
}

.user-info
{
    background: #FFF;
}