html, body {
    margin: 0;
}
* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
a {
    TEXT-DECORATION: none;
}
.header {
    /* background-color: #32393e;
    color: #fff;
    box-shadow: 0 0 .5rem #32393e; */
}
.header .logo,
.header .back {
    margin-left: .5rem;
    width: 3rem;
    height: 2.25rem;
    background-image: url(/static/images/ianmi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.header .back {
    width: 2.2rem;
    left: 0;
    margin-top: -0.125rem;
    background-image: url(/static/svg/back.svg?v=1);
    background-size: 1.2rem auto;
}
.header .logo {
    
}
.header .header-right {
    position: initial;

}
.title-nav {
    position: relative;
    line-height: 2rem;
    font-size:.85rem;
    padding-left: .5rem;
    /* font-weight: 700; */
}
.title-nav::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: #f43;
    width: .2rem;
    height: 1rem;
    margin-top: -.55rem;
}
.title-nav a {
    color: #333;
}

.svg-category {
    background-image: url(/static/svg/Category.svg);
}
i.svg-more {
    background-image: url(/static/svg/more.svg);
}

.login-main {
    position: relative;
    padding: 1rem;
    /* background: #FFF; */
}
.login-main .logo {
    display: block;
    height: 80px;
    background-image: url(/static/images/ianmiColor.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120px auto;
}
.login-main div {
    background: none;
}
.login-main input {
    margin-bottom: 10px;
    padding: 0 15px;
}
.login-main button {
    margin-bottom: 10px;
    padding: 0 5px;
}
.login-reg-nav {
    display: flex;
    justify-content: space-between;
}
.login-reg-nav a{
    line-height: 25px;
    font-weight: 700;
    color: #333;
}
.login-reg-nav a:last-child{

    color: #09f;
}
.footer {
    text-align: center;
    line-height: 65px;
}
.box-padding {
    padding: .5rem;
}

.change-info
{
    margin-top: .25rem;
}
.message_line_item {
    margin-bottom: .25rem;

}
.change-info a {
    /* justify-content: center;
    align-items: center; */
    background: #FFF;
    border-radius: 3px;
    padding: .6rem 1rem;
    padding-right: 1.8rem;
    font-size: .8rem;
    color: #555;
}
.change-info a .more {
    padding: .2rem .8rem;
    color: #666;
    border: 1px #ddd solid;
    border-radius: .1rem;
    font-size: .6rem;
}
.change-info a:after {
    content: '';
    position: absolute;
    right: 0.8rem;
    top: 50%;
    margin-top: -0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(/static/svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.li-box {
    position: relative;
}
.li-box-word {
    white-space: nowrap;
    margin-right: .5rem;
}
.li-box-svg {
    margin-right: .5rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.25rem;
}
.bbs_article,
.bbs_reply {
    position: relative;
}
.bbs_article:before,
.bbs_article:after,
.bbs_reply:before,
.bbs_reply:after {
    position: absolute;
    padding: .2rem 0;
    top: 0;
}
.bbs_article:before {
    content: '《';
    left: 0.2rem;
}
.bbs_article:after {
    content: '》';
    right: 0.2rem;
}

.bbs_reply:before {
    content: '“';
    left: 0.2rem;
}
.bbs_reply:after {
    content: '”';
    right: 0.2rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* line-height: 25px */
}
.select-photo-page {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.select-photo
{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0; 
}

.user-info
{
    background: #FFF;
}

.s_exit {
    margin: .3rem;
    margin-right: .5rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/svg/exit.svg);
}
.s_setting {
    margin: .3rem;
    margin-right: .5rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/svg/setting.svg);
}
.s_edit {
    margin-top: -0.25rem;
    background-image: url(/static/svg/edit.svg);
}

.b_message {
    background-image: url(/static/svg/user/message.svg);
}

.b_youxika {
    background-image: url(/static/svg/user/youxika.svg);
}

.b_puke {
    background-image: url(/static/svg/user/puke.svg);
}

.b_mofang {
    background-image: url(/static/svg/user/mofang.svg);
}

.b_shuiqiang {
    background-image: url(/static/svg/user/shuiqiang.svg);
}

.b_shoubing {
    background-image: url(/static/svg/user/shoubing.svg);
}

.b_qiqiu {
    background-image: url(/static/svg/user/qiqiu.svg);
}

.b_pingtu {
    background-image: url(/static/svg/user/pingtu.svg);
}

.b_qiandao {
    background-image: url(/static/svg/user/qiandao.svg);
}

.svg-true {
    background-image: url(/static/svg/true.svg);
}
.svg-false {
    background-image: url(/static/svg/false.svg);
}

.svg-user {
    margin: .3rem;
    margin-right: .5rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/svg/gr.svg);
}

.svg-arrow-right {
    background-image: url(/static/svg/arrow-right.svg);
}

.user-info {
    display: flex;
    padding: 1rem;
    position: relative;
  }
  .user-photo {
    width: 4rem;
    height: 4rem;
    border-radius: .1rem;
    background-color: #eee;
    box-shadow: 0 0 .5rem rgb(209, 209, 209);
  }
  .info-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 .5rem;
  }
  .info-box>div {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .user-nc {
    font-size: .8rem;
    font-weight: 700;
    color: rgb(124, 138, 148);
  }
  .user-ep {
    font-size: .6rem;
    color: rgb(148, 124, 124);
  }
  .edit-info {
      color: #0894ec;
  }
.update-photo-box {
    display: flex;
    font-size: .8rem;
    align-items: center;
    color: rgb(124, 138, 148);
    background-color: #eee;
}

.update-photo-box > img {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
.page-msg-box {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #809626;
}
.page-msg-box .icon-svg {
    margin: auto;
    width: 5rem;
    height: 5rem;
}
.page-msg-box .false {
    color: #E22D2D;

}

.bbs_list.list .list-item {
    line-height: 1rem;
    padding: 0;
    font-size: .75rem;
    color: #111;
}
.bbs_list.list .list-group{
    padding: .5rem;
    border-bottom: .05rem #eee solid;
}
.bbs_info {
    position: relative;
    padding-top: 0.25rem;
    color: #666;
    display: flex;
    justify-content: space-between;
    line-height: 1rem;
    font-size: .6rem;
}
.bbs_user {
	font-size: .7rem;
	color: #333;
}
.bbs_user_photo {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -0.25rem;
}
.create_time {
    color: #aaa;
    font-size: 12px;
}

.reply_time {
}
.reply_str {
	font-size: .6rem;
	color: #025898;
	margin: 0 .25rem;
}
.bbs_replay_num {
    color: #666;
}
.bbs_replay_num .icon-svg {
	display: inline-block;
	margin-left: 0.25rem;
	margin-top: -0.125rem;
	vertical-align: middle;
	width: .9rem;
	height: .9rem
}
.svg-bbs_reply {
	background-image: url(/static/svg/bbs_reply.svg);
}
.svg-look {
	background-image: url(/static/svg/look.svg);
}
.forum_index_title {
    text-align: center;
    line-height: 2rem;
    color: #fff;
    border-bottom: .25rem #eee solid;
    background-color: #0894ec;
}
.bbs_empty {
    padding: 2rem 0;
    text-align: center;
    font-size: .9rem;
    color: #aaa;
}
.bbas_action {
    padding: .5rem;
    display: flex;
    background: #FFF;
    justify-content: space-between;
    line-height: 1.2rem;
    border-bottom: .25rem #eee solid;
}
.bbas_action_title {
    font-size: .8rem;
}
.bbs_list {
    background: #FFF;
}
.view_user_info {
    /* padding-top: .5rem; */
    display: flex;
    justify-content: space-between;
}
.view_user_info_photo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .1rem;
    margin-top: -0.25rem;
    vertical-align: middle;

}
.view_title {
    text-align: center;
    padding: .5rem 0;
    font-size: 1rem;
}
.view_head {
    position: relative;
    padding: .5rem;
}
.view_context {
    margin: .5rem;
    margin-bottom: 0;
    line-height: 1.2rem;
}
.bbs_photo {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .25rem;
}
.bbs_order {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 .5rem;
    line-height: 2rem;
    background: #FFF;
}
.bbs_order_title {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.85rem;
    border-bottom: .15rem #07d664 solid;
}
.bbs_page {
    background: #FFF;
}
.bbs_page_action {
    padding: .5rem;
}
.bbs_page_jump_box {
    display: flex;
    border: .05rem solid #ddd;
    border-radius: .1rem;
}
.bbs_page_action .bbs_page_jump {
    text-align: center;
    flex: 1;
    border-radius: 0;
    border: 0;
    border-left: .05rem solid #ddd;
    /* color: #FFF;
    background: #0894ec; */
}
.bbs_page_action a.bbs_page_jump[href='#'] {
    color: #666;
}
.bbs_page_action .bbs_page_jump:first-child {
    border-left: 0;
}

.replay_title {
    position: relative;
    padding: .5rem;
    font-size: .9rem;
    color: #777;
}
.replay_empty {
    padding-bottom: 2rem;
}
.reply_more {
    text-align: center;
}
.reply_input {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.input_face {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(/static/svg/face.svg);
}
.input_show {
    flex: 1;
    margin: 0 .25rem;
    background: #eee;
    border-radius: .1rem;
}
.reply_index {
    position: relative;
    display: flex;
    padding: .5rem;
    background: #FFF;
    /* box-shadow: 0 -.1rem .1rem #bbb; */
}
.reply_body {
    height: 2.5rem;
}

.transition
{
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.chat-face-box {
    background: #FFF;
}
.face-box {
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
}
.face-box .face-out {
    width: 12.5%;
    text-align: center;
}
.face-box .face-out img {
    width: 1.5rem;
    height: 1.5rem;
}
.face-chat {
    width: 1.5rem;
    height: 1.5rem;
}

.input-search {
    /* margin: .3rem; */
    /* padding: 0; */
    /* background-color: #eee; */
    /* border-radius: .4rem; */

}
.ss-input {
    margin-right: 0;
    height: 1.6rem;
    background-color: transparent;
}

.search {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/svg/ss.svg);
}
.m_nav {
    padding: .5rem;
    line-height: 1.5rem;
    /* margin-top: .5rem; */
    background: #fff;
    border-bottom: .05rem solid #eee;
}
.nav_title a{
    color: #04ab4f;
    font-size: .75rem;
    font-weight: 700;
}
.nav_memo {
    font-size: .65rem;
    color: #666;
    line-height: 1.2rem;
}
.h1 {
    font-size: .8rem;
    font-weight: 700;
}
.test_site {
    padding: .25rem 0;

}
.m_body {
    padding: .5rem;
    line-height: 1.5rem;
    background: #fff;
    border-bottom: .05rem solid #eee;
}
.new_user_box {
    flex-wrap: wrap;
}
.new_user {
    padding: .25rem;
    line-height: 1.2rem;
}
.new_user img {
    width: 2.5rem;
    height: 2.5rem;
}
.content-main {
    background: #FFF;
    padding-bottom: .5rem;
    border-bottom: .05rem solid #eee;
}
.column_nav {
    margin-top: .5rem;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-bottom: 0.05rem solid #EEE;
}
.column_nav .column_link {
    display: flex;
    padding: .25rem;
    width: 50%;
}
.column_nav .column_photo {
    width: 2rem;
    height: 2rem;
    border-radius: .2rem;
}
.column_nav .column_info {
    display: flex;
    flex-direction: column;
    padding-left: .25rem;
    flex: 1;
    justify-content: center;
}
.column_nav .column_title {
    color: #333;
    line-height: 1.2rem;
}
.column_nav .column_count {
    font-size: .6rem;
    color: #788896;
    line-height: .8rem;
}
.file_box {
    background: #FFF;
}
.file_box .add_btn {
    margin: .25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 3rem;
    width: 3rem;
    line-height: 1rem;
    background: #eee;
    color: #999;
    border-radius: .1rem;
}
.file_box .img_item {
    margin: .25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    background-position: center center;
    background-size: 100% auto;
}
.file_box .img_item .progress_bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.file_box .img_item .progress_text {
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    width: 2rem;
    border-radius: .1rem;
}
.file_box .img_item .progress_del {
    position: absolute;
    right: -.4rem;
    top: -.4rem;
    width: .8rem;
    height: .8rem;
    line-height: .6rem;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    background: #F22;
}
.forum_down_name {
    font-size: .8rem;
}
.file_group {
    display: flex;
    flex-wrap: wrap;
}
.file_item {
    margin: .25rem;
    display: flex;
    width: 100%;
}
.file_icon {
    width: 2rem;
    height: 2rem;
    background-image: url(/static/svg/rar.svg);
}
.file_progress_box {
    flex: 1;
    padding: .25rem;
    text-align: center;
}
.file_progress {
    height: .6rem;
    border: #04ab4f .05rem solid;
    border-radius: .1rem;
}
.file_progress_bar {
    height: 100%;
    width: 0%;
    background-color: #07d664;
}
.file_action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.file_item .btn_remove {
    width: 2rem;
}
.btn_setting {
    display: none;
    width: 2rem;
}
.input.input-lg.add_context {
    line-height: 1rem;
    height: 4rem;
}
.btn-block {
    width: 100%;
}
.view_context img {
    max-width: 100%;
}
.box_card {
    background: #FFF;
}
.box_card .box_title {
    background: #EEE;
    padding: .25rem;
}
.box_card .box_content {
    padding: .25rem;
}
.view_context_file {
    margin: .5rem;
    border-bottom: .05rem #eee solid;
    background: #e8eff1;
    border: .05rem solid #cce0e6;
    border-radius: .1rem;
    color: #335c68;
}
.view_context_file .box_title {
    background: none;
    border-bottom: .05rem solid #cce0e6;
}
.forum_file_list {
    padding: .25rem;
}
.view_action a {
    display: inline-block;
    line-height: 1rem;
}
.btn_pic_insert {
    font-size: .6rem;
}
.care_btn {
    margin-left: 1rem;
    font-size: .6rem;
}
.care_btn .btn {
    width: 3rem;
}

.user_info {
    position: relative;
    padding: 1rem;
    background: #FFF;
}
.user_photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user_memo {
    flex: 1;
    line-height: 1rem;
    padding: .5rem;
}
.user_lv {
    margin-left: .25rem;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .6rem;
    font-weight: 400;
    background: #09f;
    color: #fff;
}
.user_name {
    font-size: .9rem;
}
.user_explan {
    color: #888;
}
.fans_nav {
    padding: .3rem;
    background: #fff;
}
.fans_nav_link {
    position: relative;
    text-align: center;
    flex: 1;
    font-size: .6rem;
    color: #777;
}
.fans_nav_num {
    color: #333;
    font-size: .8rem;
}
.friend_list .nickname{
    color: #333;
    font-size: 1rem;
}
.friend_list .explain{
    color: #666;
}
.friend_list .btn_care{
    height: 1.4rem;
    width: 3rem;
}
.friend_list .list-item {
    align-items: center;
}
.g_word {
    text-align: center;
    color: #888;
}
.link_title {
    padding: .5rem;
    font-size: .6rem;
    color: #999;
}
.index_link {
    display: flex;
    flex-wrap: wrap;
    line-height: 2rem;
    background: #FFF;
    margin-bottom: .5rem;

}
.index_link a{
    display: block;
    text-align: center;
    width: 20%;
    color: #32393e;
}
.footer_nav {
    padding: .5rem;
    color: #333;
    line-height: 1.2rem;
    text-align: center;
    background: #FFF;
}
.index_top_nav {
    background: #414a50;
}
.index_top_nav a {
    color: #FFF;
}
.new_user_item {
    position: relative;
	display: block;
	width: 2.5rem;
    height: 2.5rem;
    border-radius: .1rem;
    box-shadow: 0 0 .15rem #32393e;
    overflow: hidden;
}
.new_user_photo {
	width: 100%;
	height: 100%;
}
.new_user_nickname {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .6rem;
    color: #fff;
    line-height: .8rem;
    background: rgba(0, 0, 0, 0.5);
}
.message_list .list-item-image img {
    border-radius: .1rem;
    box-shadow: 0 0 0.15rem rgba(0, 0, 0, .3);
}
.new_message {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: .1rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #f22;
    color: #FFF;
}
.new_message_icon {
    position: relative;
    padding: 0 .25rem;
    padding-left: 1.5rem;
    margin: .625rem;
    border-radius: .1rem;
    height: 1rem;
    font-weight: 700;
    line-height: 1rem;
    text-align: center;
    background: #f22;
    color: #FFF;

}
.new_message_icon:before {
    position: absolute;
    left: .25rem;
    content: '';
    height: 1rem;
    width: 1rem;
    background-image: url(/static/svg/message.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
.pagination {
    display: flex;
    margin: .5rem;
    line-height: 1.6rem;

}
.pagination li,
.pagination input {
    flex: 1;
    text-align: center;
    
    display: block;
    margin: 0 .1rem;
    background-color: #fff;
    border: .05rem solid #eee;
    border-radius: .1rem;
}
/* .pagination span,
.pagination input,
.pagination a {
    display: block;
    margin: 0 .25rem;
    background-color: #fff;
    border: .05rem solid #eee;
    border-radius: .1rem;
} */
.pagination *:first-child {
    margin-left: 0;
}
.pagination *:last-child {
    margin-right: 0;
}
.user_rank {

}
.vip_icon {
    padding: 0 .25rem;
    background: #e04204;
    color: #fff;
    font-size: .6rem;
    line-height: .7rem;
    border-radius: .1rem;
    opacity: .8;
}
.vip_0 {
    background: #afafaf;
}
.user_rank .vip_icon {
    position: absolute;
    bottom: 0;
    right: 0;
}
.user_rank .user_lv,
.user_rank .is_online {
    height: .8rem;
    line-height: .8rem;
    font-size: .6rem;
}
.list .user_rank.list-group {
    border-bottom: .05rem solid #EEE;
}
.list .user_rank.list-group .list-item .list-item-image {
    position: relative;
    height: 2rem;
    width: 2rem;
}
.list .user_rank.list-group .list-item.list-item-image-text {
    height: inherit;
}
.is_online {
    margin-left: .25rem;
    border-radius: .1rem;
    padding: 0 .25rem;
    background: #afafaf;
    color: #FFF;
}
.is_online_1 {
    background: #00ca33;
}
.user_rank .nickname {
    color: #32393e;
    font-size: .9rem;
}
.user_rank .explain {
    font-size: .65rem;
    color: #7d7e81;
}
.rank_index {
    position: relative;
    margin-right: .5rem;
    width: 1rem;
    text-align: center;
    background: #cab4b0;
    color: #FFF;
    border-radius: .1rem;
}
.user_rank:nth-child(1) .rank_index::after,
.user_rank:nth-child(2) .rank_index::after,
.user_rank:nth-child(3) .rank_index::after
{
    position: absolute;
    bottom: -.25rem;
    left: .25rem;
    content: '';
    width: .5rem;
    height: .5rem;
    background: #FFFFFF;
    transform:rotate(45deg);
}
.user_rank:nth-child(1) .rank_index {
    background: #ff2600;
}
.user_rank:nth-child(2) .rank_index {
    background: #ff5b3e;
}
.user_rank:nth-child(3) .rank_index {
    background: #ff9684;

}
.user_rank_box {
    margin-top: .5rem;
}
.rank_title {
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: #32393e;
}
.user_rank_link {
    position: absolute;
    right: 0;
    font-size: .7rem;
}
.user_coin {
    color: #FFF;
    margin-left: .25rem;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .6rem;
    font-weight: 400;
    background: #00ca7d;
}
.sign_word {
    flex-wrap: wrap;
}
.sign_word>div{
    width: 20%;
    text-align: center;
}
.sign_word .feel {
    background: #FFFFFF;
    color: #333;
    line-height: 1.6rem;
    margin: .125rem;
    border: .05rem solid #ddd;
    border-radius: .1rem;
}
/* .feel.feel_0 {
    background: #00ca7d;
    border-color: #00b16d;
}
.feel.feel_1 {
    background: #00ca7d;
    border-color: #00c964;
}
.feel.feel_2 {
    background: #00c964;
    border-color: #00c921;
}
.feel.feel_3 {
    background: #00c921;
    border-color: #2fc900;
}
.feel.feel_4 {
    background: #2fc900;
    border-color: #72c900;
}
.feel.feel_5 {
    background: #72c900;
    border-color: #bcc900;
}
.feel.feel_6 {
    background: #bcc900;
    border-color: #c97200;
}
.feel.feel_7 {
    background: #c97200;
    border-color: #c94000;
}
.feel.feel_8 {
    background: #c94000;
    border-color: #c90000;
}
.feel.feel_9 {
    background: #c90000;
    border-color: #ac0000;
} */
.sign_input_box {
    /* background: #F8F8F8; */
}
.sign_info_box {
    color: #333;
    background: #FFFFFF;
}
.sign_input {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.sign_info_box .nav_title {
    text-align: center;
    line-height: 2rem;
    font-size: .8rem;
    border-top: .05rem solid #EEE;
    border-bottom: .05rem solid #EEE;
}
.sign_info_box u,
.sign_info_box b
{
    padding: 0 .1rem;
}

.sign_info_box u {
    color: #00cc77;
}

.sign_info_box b {
    color: #cc4b00;
}
.sign_log_box .nav_title {
    text-align: center;
    line-height: 1.6rem;
    font-size: .8rem;
    border-top: .05rem solid #EEE;
    /* border-bottom: .05rem solid #EEE; */
}
.sign_log_box .list .list-group .list-item {
    display: flex;
    padding: .5rem;
    line-height: 1rem;
}
.sign_table td {
    text-align: center;
}
.img_head img {
    width: 2rem;
    height: 2rem;
}
.sign_user_info {
    text-align: left;
    padding: .25rem;
}
.sign_text_info {
    position: relative;
    padding: .25rem;
    text-align: center;
    font-size: .7rem;
    line-height: 1.2rem;
}
.sign_info {
    padding: .25rem;
}
.sign_info_memo {
    font-size: .6rem;
    line-height: .7rem;
    background: #32393e;
    color: #00ca7d;
    border-radius: .5rem;
    box-shadow: 0, 0, .2rem, #32393e;
}
.sign_table {
    width: 100%;
    color: #00acca;
}
.datatime {
    color: #999;
    font-size: .6rem;
}
.sign_user_info .datatime {
    float: right;
}
.word_right {
    float: right;
}
.sign_status_ok,
.sign_status_no
{
    padding: .1rem;
    font-size: .6rem;
    color: rgb(0, 167, 89);
    border: .05rem solid rgb(0, 214, 114);
    border-radius: .1rem;
    background: rgb(199, 255, 229);
}
.sign_status_no {
    border: .05rem solid rgb(82, 0, 214);
    background: rgb(223, 203, 255);
    color: rgb(66, 0, 173);
}


.bottom-box {
    position: relative;
    box-shadow: 0 1px 1px #333;
}
.flex-box .item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex: 1;
    text-align: center;
}
.flex-box .item * {
    transition: color 0.3s, font-size 0.3s;
}
.flex-box .item .grid-cell {
    line-height: .8rem;
    font-size: .6rem;
}
.flex-box .item.active {
    color: #2196f3;
}
.flex-box .item.active .grid-cell {
    font-size: .65rem;
}
.bottom-box .icon-svg {
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    background-image: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.svg-x-like {
    background-image: url('/static/svg/x/like.svg');
}
.svg-x-lanmu {
    background-image: url('/static/svg/x/lanmu.svg');
}
.svg-x-message {
    background-image: url('/static/svg/x/message.svg');
}
.svg-x-user {
    background-image: url('/static/svg/x/user.svg');
}
.svg-x-hg {
    background-image: url('/static/svg/x/hg.svg');
}
.svg-x-qiu {
    background-image: url('/static/svg/x/qiu.svg');
}
.svg-x-kf {
    background-image: url('/static/svg/x/kf.svg');
}

.img_flex_box {
    display: flex;
}
.img_flex_box .img_bx {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 4rem;
    overflow: hidden;
}
.img_bx img {
    width: 100%;
}
.img_bbs_list_item {
    padding: .5rem;
}
.img_list a{
    color: #333;
    font-size: .8rem;
    line-height: 1rem;
}