// out:  style.css,sourcemap: true, compress: false
@border-color: #eee;
@background-color: #FFF;
@border-radius-size: .1rem;
html, body {
    height: 100%;
}
body {
    // display: flex;
    // flex-direction: column;
    background: #F8F8F8;
}
.top-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background: #F8F8F8;
}
.top-fixed-block {
    height: 4.4rem;
}
.header_nav {
    display: flex;
    padding: 0.2rem .2rem;
    background: @background-color;
    border-bottom: .05rem solid @border-color;
    a {
        color: #333;
        padding: .25rem .5rem;
    }
    a.ianmi_link {
        flex: 1;
        text-align: right;
    }
}
.top_nav_box {
    position: relative;
    height: 2rem;
    margin: .5rem;
    margin-bottom: 0;
    z-index: 999;
}
.top_nav {
    position: absolute;
    left: 0;
    right: 0;
    border: .05rem solid #ccc;
    background: @background-color;
    border-radius: @border-radius-size;
    
    box-shadow: 0 0 .5rem #ccc;
    .tab-content {
        padding: 0;
    }
    .tab-page>div {
        line-height: 2rem;
        padding: 0 .5rem;
    }
    .tab-page>div:nth-child(2n+1) {
        background: #f8f8f8;
    }
}
.admin_logo {
    margin: .5rem;
    border-radius: @border-radius-size;
    overflow: hidden;
    box-shadow: 0 0 .25rem #333;
    img {
        display: block;
        width: 100%;
    }
}
.content {
    flex: 1;
    // overflow: auto;
    margin: .5rem;
    background: @background-color;
    border: .05rem solid @border-color;
    border-radius: @border-radius-size;
}

.pre(@style,@value){
    -webkit-@{style}: @value;
       -moz-@{style}: @value;
        -ms-@{style}: @value;
            @{style}: @value;
}
.tpl_title {
    display: flex;
    align-items: center;
    font-size: .8rem;
    &::before {
        margin-right: .25rem;
        content: '';
        width: .8rem;
        height: .8rem;
        background: linear-gradient(to top, rgb(255, 94, 0), rgb(255, 184, 143));
        border-radius: 50%;
    }
}
.btn_box {
    display: flex;
    padding: .25rem;
    justify-content: flex-end;
    .btn {
        margin: .25rem;
    }
}
.namespace {
    padding: .5rem;
    border-bottom: .05rem solid @border-color;
}
.empty {
    padding: 2rem 0;
    text-align: center;
    font-size: .9rem;
    color: #aaa;
}

.tips {
    margin: .5rem;
    font-size: .65rem;
    padding: .5rem;
    border: .05rem solid #30b973;
    border-radius: @border-radius-size;
    background: #50d491;
    color: #1f6742;
    .version {
        color: #F22;
    }
}
.footer_nav {
    padding: 1rem 0;
    text-align: center;
    line-height: 1.2rem;
    color: #666;
    background: @background-color;
    border-top: .05rem solid @border-color;
}
.count_box {
    padding: .5rem;
    .count_group {
        display: flex;
        border-bottom: .05rem solid @border-color;
    }
    .count_group:last-child {
        border-bottom: 0;
    }
    .count_item {
        flex: 1;
        padding: .5rem;
        text-align: center;
        line-height: 1.2rem;
    }
}
.nav_title {
    display: inline-block;
    color: #30b973;
}
.page_nav {
    display: flex;
    text-align: center;
    border-bottom: .05rem solid @border-color;
    margin: 0 .5rem;
    a {
        flex: 1;
        padding: .25rem;
    }
}
.form-group {
    padding: .5rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.tree.list {
    .list-item {
        display: flex;
        align-items: center;
        .namespace_link {
            display: block;
            flex: 1;
        }
    }
    .icon-svg {
        margin-right: .25rem;
        margin-top: -.125rem;
    }
    .svg-namespace {
        background-image: url(/static/svg/admin/namespace.svg);
    }
    .svg-component {
        background-image: url(/static/svg/admin/component.svg?s);
    }
    .svg-code {
        background-image: url(/static/svg/admin/code.svg?s);
    }
    .svg-mark {
        background-image: url(/static/svg/admin/mark.svg?s);
    }
}
.btn-margin-left {
    margin-left: .25rem;
}
.column_photo {
    position: relative;
    margin-right: .5rem;
    width: 3.8rem;
    height: 3.8rem;
    background-color: #FFF;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    .column_photo_progress {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0;
        background: rgba(0, 0, 0, .8);
    }
}
.up_photo_box {
    padding: 0.25rem 0;
}
.vip_level_data {
    display: flex;
    [name=vip_level] {
        width: 4rem;
        margin-right: .25rem;
    }
}
.list-item-text {
    margin-left: 3.25rem !important;
}
.input-search {
    background: #FFF;
}
.code_name {
    margin: 0 .1rem;
    color: #3f7290;
}
.list.admin-list {
    line-height: 1.8;
    .list-item {
        padding: 0.5rem;
    }
    .action-box {
        position: relative;
        padding-top: .5rem;
        display: flex;
        justify-content: flex-end;
        .btn {
            margin: 0 .25rem;
            color: #000000;
            font-weight: 700;
            border-color: #ccc;
            &.btn-disabled {
                color: #ccc;
                border-color: #eee;
            }
        }
    }
}
.admin-user-box {
    display: flex;
    padding-bottom: .5rem;
    .admin-user-photo {
        width: 2.5rem;
        height: 2.5rem;
        border: .05rem solid @border-color;
    }
    .admin-user-info {
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.theme-list-group {
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
    padding: 0 0.2rem;
    .list-item {
        padding: 0.4rem 0.2rem !important;
        width: 33.3333%;
    }
    
    .theme-logo {
        display: block;
        width: 100%;
        border-radius: .15rem;
        box-shadow: 0px 0px 1px #eeeeee;
    }
    .theme-title {
        margin-top: .3rem;
        font-size: .7rem;
    }
    .theme-pay-info {
        display: flex;
        justify-content: space-between;
        font-size: 0.55rem;
        line-height: .6rem;
        color: #888;
    }
}
.theme_view {
    padding: 0.4rem;
    .theme_view_title {
        margin-top: 0.6rem;
        font-size: .9rem;
        font-weight: 700;
        .theme_clone_title {
            font-size: .7rem;
            font-weight: 400;
        }
    }
    .theme-pay-info {
        display: flex;
        margin-top: 0.4rem;
        justify-content: space-between;
        font-size: 0.65rem;
        line-height: .6rem;
        color: #888;
        .price {
            font-weight: 700;
            color: rgb(255, 159, 34);
        }
    }
    .theme_view_memo_title {
        margin-top: .6rem;
        font-size: 0.75rem;
        color: #000000;
    }
    .theme_view_memo {
        margin-top: .2rem;
        font-size: 0.65rem;
        // color: #555555;
        line-height: 1rem;
        &.close {
            position: relative;
            max-height: 4.5rem;
            overflow: hidden;
            &::after {
                content: "点击展开";
                position: absolute;
                text-align: center;
                width: 100%;
                right: 0;
                bottom: 0rem;
                color: #09f;
                font-size: .7rem;
                font-weight: 700;
                line-height: 1.5rem;
                background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
            }
        }
    }
    .theme_view_btn {
        display: block;
        margin-top: 0.8rem;
        background: #30b973;
        padding: .5rem;
        color: #FFF;
        text-align: center;
        border-radius: @border-radius-size;
        &.disable {
            background: #aaa;
        }
    }
    .theme_other {
        margin-top: 0.6rem;
        display: flex;
        .other_btn {
            margin-right: 0.4rem;
            padding: 0 0.5rem;
            background: #eee;
        }
    }
}
.theme_view_logo_group {
    overflow-y: auto;
    .theme_view_logo_group_box {
        display: flex;
        flex-wrap: nowrap;
        .theme_view_logo {
            margin: 0 .2rem;
            display: block;
            width: 33.3333%;
            height: 33.3333%;
            border-radius: .15rem;
            box-shadow: 0px 0px 1px #eeeeee;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}