html,
body {
  height: 100%;
}
body {
  background: #F8F8F8;
}
.top-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background: #F8F8F8;
}
.top-fixed-block {
  height: 4.4rem;
}
.header_nav {
  display: flex;
  padding: 0.2rem 0.2rem;
  background: #FFF;
  border-bottom: 0.05rem solid #eee;
}
.header_nav a {
  color: #333;
  padding: 0.25rem 0.5rem;
}
.header_nav a.ianmi_link {
  flex: 1;
  text-align: right;
}
.top_nav_box {
  position: relative;
  height: 2rem;
  margin: 0.5rem;
  margin-bottom: 0;
  z-index: 999;
}
.top_nav {
  position: absolute;
  left: 0;
  right: 0;
  border: 0.05rem solid #ccc;
  background: #FFF;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.5rem #ccc;
}
.top_nav .tab-content {
  padding: 0;
}
.top_nav .tab-page > div {
  line-height: 2rem;
  padding: 0 0.5rem;
}
.top_nav .tab-page > div:nth-child(2n+1) {
  background: #f8f8f8;
}
.admin_logo {
  margin: 0.5rem;
  border-radius: 0.1rem;
  overflow: hidden;
  box-shadow: 0 0 0.25rem #333;
}
.admin_logo img {
  display: block;
  width: 100%;
}
.content {
  flex: 1;
  margin: 0.5rem;
  background: #FFF;
  border: 0.05rem solid #eee;
  border-radius: 0.1rem;
}
.tpl_title {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.tpl_title::before {
  margin-right: 0.25rem;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background: linear-gradient(to top, #ff5e00, #ffb88f);
  border-radius: 50%;
}
.btn_box {
  display: flex;
  padding: 0.25rem;
  justify-content: flex-end;
}
.btn_box .btn {
  margin: 0.25rem;
}
.namespace {
  padding: 0.5rem;
  border-bottom: 0.05rem solid #eee;
}
.empty {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}
.tips {
  margin: 0.5rem;
  font-size: 0.65rem;
  padding: 0.5rem;
  border: 0.05rem solid #30b973;
  border-radius: 0.1rem;
  background: #50d491;
  color: #1f6742;
}
.tips .version {
  color: #F22;
}
.footer_nav {
  padding: 1rem 0;
  text-align: center;
  line-height: 1.2rem;
  color: #666;
  background: #FFF;
  border-top: 0.05rem solid #eee;
}
.count_box {
  padding: 0.5rem;
}
.count_box .count_group {
  display: flex;
  border-bottom: 0.05rem solid #eee;
}
.count_box .count_group:last-child {
  border-bottom: 0;
}
.count_box .count_item {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.2rem;
}
.nav_title {
  display: inline-block;
  color: #30b973;
}
.page_nav {
  display: flex;
  text-align: center;
  border-bottom: 0.05rem solid #eee;
  margin: 0 0.5rem;
}
.page_nav a {
  flex: 1;
  padding: 0.25rem;
}
.form-group {
  padding: 0.5rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.tree.list .list-item {
  display: flex;
  align-items: center;
}
.tree.list .list-item .namespace_link {
  display: block;
  flex: 1;
}
.tree.list .icon-svg {
  margin-right: 0.25rem;
  margin-top: -0.125rem;
}
.tree.list .svg-namespace {
  background-image: url(/static/svg/admin/namespace.svg);
}
.tree.list .svg-component {
  background-image: url(/static/svg/admin/component.svg?s);
}
.tree.list .svg-code {
  background-image: url(/static/svg/admin/code.svg?s);
}
.tree.list .svg-mark {
  background-image: url(/static/svg/admin/mark.svg?s);
}
.btn-margin-left {
  margin-left: 0.25rem;
}
.column_photo {
  position: relative;
  margin-right: 0.5rem;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #FFF;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.column_photo .column_photo_progress {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
}
.up_photo_box {
  padding: 0.25rem 0;
}
.vip_level_data {
  display: flex;
}
.vip_level_data [name=vip_level] {
  width: 4rem;
  margin-right: 0.25rem;
}
.list-item-text {
  margin-left: 3.25rem !important;
}
.input-search {
  background: #FFF;
}
.code_name {
  margin: 0 0.1rem;
  color: #3f7290;
}
.list.admin-list {
  line-height: 1.8;
}
.list.admin-list .list-item {
  padding: 0.5rem;
}
.list.admin-list .action-box {
  position: relative;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.list.admin-list .action-box .btn {
  margin: 0 0.25rem;
  color: #000000;
  font-weight: 700;
  border-color: #ccc;
}
.list.admin-list .action-box .btn.btn-disabled {
  color: #ccc;
  border-color: #eee;
}
.admin-user-box {
  display: flex;
  padding-bottom: 0.5rem;
}
.admin-user-box .admin-user-photo {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.05rem solid #eee;
}
.admin-user-box .admin-user-info {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theme-list-group {
  display: flex;
  flex-wrap: wrap;
  line-height: 1rem;
  padding: 0 0.2rem;
}
.theme-list-group .list-item {
  padding: 0.4rem 0.2rem !important;
  width: 33.3333%;
}
.theme-list-group .theme-logo {
  display: block;
  width: 100%;
  border-radius: 0.15rem;
  box-shadow: 0px 0px 1px #eeeeee;
}
.theme-list-group .theme-title {
  margin-top: 0.3rem;
  font-size: 0.7rem;
}
.theme-list-group .theme-pay-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.55rem;
  line-height: 0.6rem;
  color: #888;
}
.theme-list-group .useing-theme {
  position: relative;
}
.theme-list-group .useing-theme::before {
  position: absolute;
  top: 0.2rem;
  left: 0;
  content: '使用中';
  background: #30b973;
  padding: 0.2rem;
  color: #fff;
  border-radius: 0.15rem;
  box-shadow: 0 0 0.1rem #000;
}
.theme_view {
  padding: 0.4rem;
}
.theme_view .theme_view_title {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  font-weight: 700;
}
.theme_view .theme_view_title .theme_clone_title {
  font-size: 0.7rem;
  font-weight: 400;
}
.theme_view .theme-pay-info {
  display: flex;
  margin-top: 0.4rem;
  justify-content: space-between;
  font-size: 0.65rem;
  line-height: 0.6rem;
  color: #888;
}
.theme_view .theme-pay-info .price {
  font-weight: 700;
  color: #ff9f22;
}
.theme_view .theme_view_memo_title {
  margin-top: 0.6rem;
  font-size: 0.75rem;
  color: #000000;
}
.theme_view .theme_view_memo {
  margin-top: 0.2rem;
  font-size: 0.65rem;
  line-height: 1rem;
}
.theme_view .theme_view_memo.close {
  position: relative;
  max-height: 4.5rem;
  overflow: hidden;
}
.theme_view .theme_view_memo.close::after {
  content: "点击展开";
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  bottom: 0rem;
  color: #09f;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), #ffffff, #ffffff);
}
.theme_view .theme_view_btn {
  display: block;
  margin-top: 0.8rem;
  background: #30b973;
  padding: 0.5rem;
  color: #FFF;
  text-align: center;
  border-radius: 0.1rem;
}
.theme_view .theme_view_btn.disable {
  background: #aaa;
}
.theme_view .theme_other {
  margin-top: 0.6rem;
  display: flex;
}
.theme_view .theme_other .other_btn {
  margin-right: 0.4rem;
  padding: 0 0.5rem;
  background: #eee;
}
.theme_view_logo_group {
  overflow-y: auto;
}
.theme_view_logo_group .theme_view_logo_group_box {
  display: flex;
  flex-wrap: nowrap;
}
.theme_view_logo_group .theme_view_logo_group_box .theme_view_logo {
  margin: 0 0.2rem;
  display: block;
  width: 33.3333%;
  height: 33.3333%;
  border-radius: 0.15rem;
  box-shadow: 0px 0px 1px #eeeeee;
}
.theme_view_logo_group .theme_view_logo_group_box .theme_view_logo:first-child {
  margin-left: 0;
}
.setting-list .setting-list {
  display: flex;
}
.setting-list .setting-list .setting-title {
  margin-left: 0.2rem;
}
.setting-list .setting-title {
  display: flex;
  background: #32393e;
  color: #a3b3be;
  justify-content: space-between;
}
.setting-list .setting-title .setting-group-title {
  margin: 0.5rem;
}
.setting-list .setting-title .settion-add-item {
  display: flex;
  font-size: 0.7rem;
  margin: 0.5rem;
  width: 1rem;
  background: #a3b3be;
  color: #32393e;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.setting-list .setting-index {
  margin-left: 0.2rem;
  display: flex;
  margin-top: 0.2rem;
}
.setting-list .setting-index-num {
  display: flex;
  width: 1rem;
  background: #d3dde4;
  align-items: center;
  justify-content: center;
}
.setting-list .setting-index-group {
  flex: 1;
}
.setting-list .setting-index-group .setting-name {
  padding: 0.2rem;
  background: #75818a;
  color: #a3b3be;
}
.setting-list .setting-index-group .setting-value {
  padding: 0.2rem;
  background: #75818a;
}
.setting-item {
  margin-top: 0.2rem;
}
.setting-item:first-child {
  margin-top: 0;
}
.setting-item .setting-name {
  padding: 0.2rem;
  background: #32393e;
  color: #a3b3be;
}
.setting-item .setting-value {
  padding: 0.2rem;
  background: #32393e;
}
.ad {
  margin: 0.5rem;
  background: #ffdada;
  border: 0.05rem solid #ffa6a6;
  border-radius: 0.1rem;
  padding: 0.5rem;
}
